* {margin:0; padding:0;}
ul,li {list-style:none;}
a {text-decoration: none; color:white;}
.clearfix:after{content:'';display:block; clear:both;}

body {overflow-y:scroll;padding-top:120px;
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url("assets/img/bg-masthead.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
}

header {	
	margin-top:20px;
	background:#333;
	height:100px;
	overflow:hidden;
	position:absolute;
	left:0; right:0;
	top:0;
	color: white;
}

nav {}
nav > img {float:left; margin-right:10%;}
nav > li {float:right;line-height:100px; margin-right:50px; }
nav > ul > li {float:left; line-height:100px; margin-right:40px;}
nav > ul > li ul{ width:100%;}

main{padding:2% 20%; }
.main_content{background-color:#f1f1f1;}
main p{
	margin-bottom:27px;
}